
/* colors */

$shaftblue:			#435a6b;
$shaftblue-dark:	#324350;

$rysywhite:			#f5f7fa;

$gray-consent:		#dddddd;
$gray-dark-consent:	#888888;

$green:				#5cb85c;
$green-dark:		#47a447;

$theme-colors-consent: (
	'primary':		$shaftblue,
	'secondary':	$rysywhite,
	'tertiary':		$green,
);

/* prefix */

$prefix:			'consent';

/* z-index */

$zindex-banner:		$zindex-modal - 1;
